.chat__box {
    display: flex;
    flex-direction: row;
    color: gray;
    cursor: pointer;
    align-items: center;
}

.chat__box__profile__picture_sm>img {
    height: 50px;
    width: 50px;
    margin: 5px;
}

.chat__box__profile_picture__img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.chat__box__main__info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.chat__box__profile__name {
    color: black;
    font-weight: 400;
    font-size: 17px;
    margin-top: 5px;
}

.chat__box__message__info {
    display: flex;
    flex-direction: row;
}

.chat__box__message__info__time {
    margin-left: 10px;
}

.chat__box__message__info__status {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat__box__message__info__status__img {
    height: 18px;
    width: 18px;
    border-radius: 50%;
}

.chat__box__message__info__status__button {
    color: #0cc0ed;
}

.chat__box__last__message__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.bold_text {
    font-weight: bold;
    color: black;
}

.hidden {
    display: none;
}

.sm_background {
    background-color: rgba(120, 205, 251, 0.5);
}

.not_hidden {
    display: flex;
    flex-direction: row;
}